body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formLogin{
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: 500px;
    margin-top: 230px;
    border-radius: 2%;
}

.input label{
    margin-right: 30px;
}

h1 {
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
    color: black;
}


.input{
    width: 600px;
    margin-left: 50px;
    margin-bottom: 40px;
    font-size: larger;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button button{
    background-color: #004c9d;
    width: 200px;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1;
    height: 40px;
}

.reset {
    color: black;
    display: flex;
    align-self: flex-start;
    font-size: medium;
    justify-content: flex-end;
    margin-right: 30px;
}

.register {
    margin-top: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large;
}